<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/font/font-awesome.min.css"/>
		<link href="../../Scripts/Controls/SubMenu/bootstrap-submenu.css" rel="stylesheet" type="text/css" />
		<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../Scripts/Views/Home/home.css"/>
	</head>
	<body>
		<div class="wrap">
			<div class="container container-body">
				<div class="content-body">
					<div class="row row-box">
						<div class="row-title">
							<i class="icon-cogs"></i>&nbsp;&nbsp;快速导航
							<a href="#" class="pull-right">更多> ></a>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu1">
								<a href="#">
									<i class="icon-user" ></i>
									<p class="img-text">发起任务</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu2">
								<a href="#">
									<i class="icon-book" ></i>
									<p class="img-text">负责任务</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu3">
								<a href="#">
									<i class="icon-building" ></i>
									<p class="img-text">完成任务</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu4">
								<a href="#">
									<i class="icon-search" ></i>
									<p class="img-text">查找任务</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu5">
								<a href="#">
									<i class="icon-bar-chart" ></i>
									<p class="img-text">数据图表</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu6">
								<a href="#">
									<i class="icon-lock" ></i>
									<p class="img-text">修改密码</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu7">
								<a href="#">
									<i class="icon-calendar" ></i>
									<p class="img-text">会议纪要</p>
								</a>
							</div>
						</div>
						<div class="menu-block ">
							<div class="btn-menu menu8">
								<a href="#">
									<i class="icon-road" ></i>
									<p class="img-text">资讯意见</p>
								</a>
							</div>
						</div>
					</div>
					<div class="clearfix ">
						<div class="pull-left row-box user-box">
							<div class="row-title">
								<i class="icon-user"></i>&nbsp;&nbsp;用户信息
								<a href="#" class="pull-right">更多> ></a>
							</div>
							<div class="user-bg">
								<div class="img-circle">
									<a href="#"><img src="../../Images/userpic.png"/></a>
								</div>
							</div>
							<div class="user-detailBox">
								<div class="clearfix ">
									<div class="col-sm-6" style="border-right: 1px solid #ccc;border-bottom: 1px solid #ccc ;">
										<p class="text-center">用户名</p>
										<p class="text-center">admin</p>
									</div>
									<div class="col-sm-6" style="border-bottom: 1px solid #ccc ;">
										<p class="text-center">登录IP</p>
										<p class="text-center">192.168.1.8</p>
									</div>
								</div>
								<div class="clearfix ">
									<div class="col-sm-6 padding-top" style="border-right: 1px solid #ccc;">
										<p class="text-center">登录时间</p>
										<p class="text-center">2017-02-28</p>
									</div>
									<div class="col-sm-6 padding-top">
										<p class="text-center">上次登录时间</p>
										<p class="text-center">2017-01-09</p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="pull-right row-box data-box">
							<div class="row-title">
								<i class="icon-bar-chart"></i>&nbsp;&nbsp;数据统计
								<a href="#" class="pull-right">更多> ></a>
							</div>
							<div id="gongzu" style="width: 100%;height:350px;">
								
							</div>
						</div>
					</div>
					<div class="clearfix ">
						<div class="pull-left row-box notice-box">
							<div class="row-title">
								<i class="icon-list-alt"></i>&nbsp;&nbsp;通知公告
								<a href="#" class="pull-right"> 更多> ></a>
							</div>
							<div class="notic-text">
								<ul>
									<li><a href="#" title="" >最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假 待审批最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假</a><span class="pull-right">2017-03-05</span></li>
									<li><a href="#" title="" >最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假 待审批最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假</a><span class="pull-right">2017-03-05</span></li>
									<li><a href="#" title="" >最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假 待审批最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假</a><span class="pull-right">2017-03-05</span></li>
									<li><a href="#" title="" >最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假 待审批最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假</a><span class="pull-right">2017-03-05</span></li>
									<li><a href="#" title="" >最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假 待审批最新通知市场部拓展专员多岁的风格的风格是地方郭德纲是大法官申请请假</a><span class="pull-right">2017-03-05</span></li>
									
								</ul>
							</div>
						</div>
						<div class="pull-right row-box waite-box">
							<div class="row-title">
								<i class="icon-edit"></i>&nbsp;&nbsp;待办事项
								<a href="#" class="pull-right">更多> ></a>
							</div>
							<div class="waite-text">
								<ul>
									<li><a href="#" title="" >最新通知市场部拓展专员市场部拓展专通知市场部拓展专员市场部拓员申请通知市场部拓展专员市场部拓请假 待审批</a></li>
									<li><a href="#" title="" >最新通知市场部拓展专员市场部拓展专通知市场部拓展专员市场部拓员申请通知市场部拓展专员市场部拓请假 待审批</a></li>
									<li><a href="#" title="" >最新通知市场部拓展专员市场部拓展专通知市场部拓展专员市场部拓员申请通知市场部拓展专员市场部拓请假 待审批</a></li>
									<li><a href="#" title="" >最新通知市场部拓展专员市场部拓通知市场部拓展专员市场部拓展专员申请通知市场部拓展专员市场部拓请假 待审批</a></li>
									<li><a href="#" title="" >最新通知市场部拓展专员市场部拓展专通知市通知市场部拓展专员市场部拓场部拓展专员市场部拓员申请请假 待审批</a></li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../Scripts/Controls/Echarts/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
			var myChart2 = echarts.init(document.getElementById('gongzu'));

			// 指定图表的配置项和数据
			var option2 = {
				// 图表标题
				title: {
					text: '2017年5月信用归集点接口质量统计表',
					left: 'center',
					padding:[20,0,0,0],
					textStyle: {
								fontSize:16
						}
				},

				//          数据提示框
				tooltip: {
					show: true,
					trigger: 'axis',
				},
				//          图例
				legend: {
					data: ['上报记录数', '超期记录数', '错误记录数','有瑕疵记录数'],
					bottom:0

				},
				xAxis: {
					type: 'category',
					axisLabel:{  
                         /*interval:0,//横轴信息全部显示  
                         rotate:30,//-30度角倾斜显示 
                         textStyle: {
									color: "#000",
									fontWeight: "bold"
						}*/
                   	},
					data: ['地税局',"国土局", "住建委", "国税局  "]
				},
				yAxis: [{
						type: 'value',
						name: '数目',
						min: 0,
						interval: 10000,
						axisLabel: {
							formatter: '{value}'
						}
					}
				],
				//          数据
				series: [{
						name: '上报记录数',
						type: 'bar',
						yAxisIndex: '0',
						itemStyle: {
							normal: {
								color: '#2BF09A'
							}
						},
						barGap:0,
						data: [32505,52105,44505,34505]

					}, {
						name: '超期记录数',
						type: 'bar',
						yAxisIndex: '0',
						data: [43230,54614, 85073, 77272]
					},
					{
						name: '错误记录数',
						type: 'bar',
						yAxisIndex: '0',
						data: [31230,54614, 35073, 56272]
					},
					{
						name: '有瑕疵记录数',
						type: 'bar',
						yAxisIndex: '0',
						data: [51230,84614, 55073, 76272]
					}
				]
			}; // 使用刚指定的配置项和数据显示图表。
			myChart2.setOption(option2);
    </script>
	<script src="../../Scripts/Base/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="../../Scripts/Base/bootstrap.js" type="text/javascript"></script>
	<script src="../../Scripts/Controls/SubMenu/bootstrap-submenu.js" type="text/javascript"></script>
	<script src="../../Scripts/Controls/SubMenu/bindsubmenu.js" type="text/javascript"></script>
	<script src="../../Scripts/Controls/Dialog/dialog-plus.js" type="text/javascript"></script>
	<script src="../../Scripts/Controls/Datepicker/bootstrap-datetimepicker.js" type="text/javascript"></script>
	<script src="../../Scripts/Controls/Datepicker/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../Scripts/Views/PublicFunction.js" type="text/javascript"></script>
	
	</body>
</html>
