<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>模型信息</title>
		<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
		<link href="../../Scripts/Controls/SubMenu/bootstrap-submenu.css" rel="stylesheet" type="text/css" />
		<link href="../../Scripts/Controls/Dialog/dialog-plus.css" rel="stylesheet" type="text/css" />
		<link href="../../Scripts/Controls/Datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../Scripts/Controls/DataTables/table.css">
		<style type="text/css" class="init">
			/* Ensure that the demo table scrolls */
			
			th, td {
				white-space: nowrap;
			}
			.table {
				width: 500px;
				margin: 0 auto 20px;
			}
			.table tbody>tr>td {
				border-top: none;
				vertical-align: middle;
			}
			.table tbody>tr>td:first-child {
				text-align: right;
			}
		</style>
		<script src="../../Scripts/Base/modernizr-2.6.2.js" type="text/javascript"></script>
		<!--[if lt IE 9]>
		         <style>
				.body-content{
					width: 1140px;
				}
		         </style>
		<![endif]-->

	</head>

	<body>
		<div class="wrap">

			<form action="">
				<table class="table">
					<tbody>
						<tr>
							<td class="form-type">企业类型：</td>
							<td>
								<input type="text" class="form-control" id="sCond0" />
							</td>
						</tr>
						<tr>
							<td class="form-type">模型名称：</td>
							<td>
								<input type="text" class="form-control" id="sCond1" />
							</td>
						</tr>
						<tr>
							<td class="form-type">条件：</td>
							<td>
								<input type="text" class="form-control" id="sCond2" />
							</td>
						</tr>
						<tr>
							<td class="form-type">风险值：</td>
							<td>
								<input type="password" class="form-control" id="sCond2" />
							</td>
						</tr>
						<tr>
							<td class="form-type">备注：</td>
							<td>
								<textarea name="" style="width: 100%;" rows="" cols=""></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<script src="../../Scripts/Base/jquery-1.10.2.js" type="text/javascript"></script>
		<script src="../../Scripts/Base/jquery-migrate-1.2.1.js"></script>
		<script src="../../Scripts/Base/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
		<script src="../../Scripts/Base/jquery.antiforgery.js" type="text/javascript"></script>
		<script src="../../Scripts/Base/bootstrap.js" type="text/javascript"></script>
		<script src="../../Scripts/Controls/SubMenu/bootstrap-submenu.js" type="text/javascript"></script>
		<script src="../../Scripts/Controls/Dialog/dialog-plus.js" type="text/javascript"></script>
		<script src="../../Scripts/Controls/Datepicker/bootstrap-datetimepicker.js" type="text/javascript"></script>
		<script src="../../Scripts/Controls/Datepicker/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
		<script src="../../Scripts/Views/PublicFunction.js" type="text/javascript"></script>
		<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/dataTables.select.js"></script>
		<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/dataTables.bootstrap.js"></script>
		<!--<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/dataTables.fixedColumns.js"></script>
		<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/dataTables.buttons.js"></script>
		<script type="text/javascript" language="javascript" src="../../Scripts/Controls/DataTables/shCore.js"></script>-->
	</body>

</html>